* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: min(80vw, 1440px);
  margin: 0 auto;
}

/* header */
#header {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
}
.logo {
  margin-top: 0.6rem;
}
#nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav a {
  color: var(--Grayish-Violet);
}
#navMenu,
.login-mobile a {
  display: none;
}
#menu {
  display: flex;
  gap: 2rem;
}

.login {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

/* section 1 */
main {
  padding-top: 5rem;
  overflow: hidden;
}
main .home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

main .home .content h1 {
  font-size: clamp(4.5vw, 5rem, 5vw);
  line-height: 110%;
  color: var(--Very-Dark-Blue);
}
main .home .content p {
  color: var(--Grayish-Violet);
  line-height: 160%;
  font-size: clamp(1vw, 1.2rem, 2vw);
  padding-right: 20%;
  margin-bottom: 2rem;
}

main .home img {
  position: relative;
  width: 170%;
  right: 10%;
}

/* section 2 */
.shorter-link {
  position: relative;
  top: -60px;
}
.container-shorter-link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  background-color: var(--dark-violet);
  background-image: url("../images/bg-shorten-desktop.svg");
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  margin-bottom: 25px;
}
.container-shorter-link #link {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 25px;
  margin-right: 20px;
  border-radius: 10px;
}
.container-shorter-link #link.error-link {
  border: 5px solid var(--Red);
  color: var(--Red);
}
.container-shorter-link #link.error-link::placeholder {
  color: var(--Red);
}
.error-text {
  color: var(--Red);
  display: none;
}
.shorter-link .show-link {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.2em;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.shorter-link .show-link .link,
.new-link {
  font-size: clamp(1vw, 1rem, 3vw);
}
.shorter-link .show-link div .new-link {
  color: var(--cyan);
  margin-right: 1rem;
}

.advanced-statisitcs {
  background-color: hsl(0, 0%, 75%);
  padding-bottom: 5rem;
}
.advanced-statisitcs .sub-title {
  font-weight: 700;
  color: var(--Very-Dark-Violet);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.advanced-statisitcs .text-center {
  color: var(--Grayish-Violet);
  line-height: 160%;
  text-align: center;
  padding: 0 30%;
}
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
  margin-top: 4rem;
  align-items: start;
}

.card:not(:last-child)::after {
  position: absolute;
  content: "";
  background-color: var(--cyan);
  width: 8px;
  top: 100px;
  right: -23px;
  left: auto;
  transform: rotateZ(90deg);
  height: 36px;
}
.cards-container .card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.8rem;
  position: relative;
}
.cards-container .card:nth-child(2) {
  margin-top: 2rem;
}
.cards-container .card:nth-child(3) {
  margin-top: 4rem;
}
.cards-container .card .bg-img {
  display: flex;
  background-color: var(--dark-violet);
  position: absolute;
  top: -2.5rem;
  padding: 1rem;
  border-radius: 100%;
}
.cards-container .card h4 {
  color: var(--Very-Dark-Violet);
  font-size: min(1.7vw, 1.4rem);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.cards-container .card p {
  color: var(--Grayish-Violet);
  line-height: 160%;
  font-size: min(1.4vw, 1rem);
}
lottie-player {
  width: 100%;
}
