.btn-blue {
  background-color: var(--cyan);
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.login-mobile .btn-blue {
  width: 95%;
  padding: 0.5rem;
}
