.btn-blue {
  background-color: var(--cyan);
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.login-mobile .btn-blue {
  width: 95%;
  padding: 0.5rem;
}
.bg-purple .btn-blue {
  width: 210px;
  border-radius: 10px;
  padding: 15px 0;
}

@media screen and (max-width: 920px) {
  .bg-purple .btn-blue {
    width: 100%;
  }
}
