@media screen and (max-width: 920px) {
  .login {
    display: none;
  }
  #navMenu,
  .login-mobile a {
    display: block;
  }
  #header {
    display: flex;
    justify-content: space-between;
  }
  #menu {
    display: block;
    position: absolute;
    text-align: center;
    width: 300px;
    top: 100px;
    right: 10vw;
    background-color: var(--dark-violet);
    transition: 0.7s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    font-weight: 700;
    border-radius: 15px;
  }
  #nav.active-menu #menu {
    height: 340px;
    visibility: visible;
    overflow-y: auto;
  }
  #nav {
    width: auto;
  }
  #menu a {
    color: #fff;
  }
  #menu li {
    padding: 0.8rem;
  }
  #menu li:nth-child(1) {
    margin-top: 1rem;
  }

  .login-mobile a {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  main {
    padding-top: 1rem;
  }
  main .home {
    flex-direction: column-reverse;
  }
  main .home .content {
    text-align: center;
  }
  main .home .content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  main .home .content p {
    font-size: 1rem;
    padding: 0;
  }
  main .home img {
    width: 150%;
    right: -10%;
    margin-bottom: 2rem;
  }

  .container-shorter-link {
    flex-direction: column;
  }
  .container-shorter-link #link {
    margin-bottom: 15px;
  }
  .shorter-link .show-link {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .shorter-link .show-link .link {
    border-bottom: 1px solid var(--Grayish-Violet);
    margin-bottom: 1rem;
  }
  .shorter-link .show-link div .new-link {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  #menu {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}
